@model SalesWebMVC.Models.Seller

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"] a new Seller</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseSalary" class="control-label"></label>
                <input asp-for="BaseSalary" class="form-control" />
                <span asp-validation-for="BaseSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class=" col-xs-6"></div>
                    <div class=" col-xs-6">
                        <a asp-action="Index" class="btn btn-danger">Back</a>
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

